.container {
  margin: 0em, 2em, 2em, 2em;
}
.page-header{
  background-color: aliceblue;
  height: 50px;
}
.search-input{
  outline: none;
  border: 2px solid #CCC;
  padding: 8px, 10px;
  border-radius: 3px;
  margin: .5em;
}
.search-input:active{
  border: 3px solid rgb(6, 143, 79);
}

.search-input:focus{
  border: 3px solid rgb(11, 228, 127);
}


table{
  width: 100%;
}
